can't ping if launch yggdrasil

I [haven't](url) ipv6 address from provider. I haven't any ipv6 address. But, if I launch yggdrassil, it's properly connected to the nodes and I can ping into yggdrasil network. But, I can't ping any clearnet ipv4 addresses. What I do wrong? How can I fix it?

Need more information about your operating system and network configuration to advise. 

netinstalled Void linux, i3-wm, dhcpcd, ethernet cable to GPON modem

So just to clarify, reaching the IPv4 Internet works fine when the `yggdrasil` process is not running, but not when it is? (If so, you should also be able to set `IfName` to `none` and still reach the IPv4 internet, but not be able to reach into Yggdrasil.)

Are we talking DNS-resolved names, i.e. `ping google.com` or IPv4, i.e. `ping 8.8.8.8`? Do either or neither work?

Does your IPv4 routing table (`ip -4 route list`) show any routes going into the `tun` adapter that Yggdrasil uses? i.e. `tun0`

> Are we talking DNS-resolved names, i.e. ping google.com or IPv4, i.e. ping 8.8.8.8? Do either or neither work?

if yggdrasil started I can ping 8.8.8.8, but can't ping google.com

> Does your IPv4 routing table (ip -4 route list) show any routes going into the tun adapter that Yggdrasil uses? i.e. tun0

no

It sounds like something on your system is changing your DNS configuration when the Yggdrasil interface comes up. You can maybe see what is being done by looking at `/etc/resolv.conf`.

Make sure your system DNS configuration points to one or more IPv4 Internet DNS servers (Yggdrasil doesn’t provide routing to the IPv6 Internet), or if possible, configure it to ignore the Yggdrasil interface for DNS altogether. 

it's always `nameserver 192.168.100.1` and same file, no difference

I guess `192.168.100.1` is your GPON modem? Are your results any better if you use a public DNS server, like `8.8.8.8`/`8.8.4.4`? I am wondering if your modem is specifically (and erroneously) dropping queries for DNS AAAA records, which your system may not send when it doesn't have any active interfaces with IPv6 addresses.

with only `nameserver` 8.8.8.8 no difference, still not work if yggdrasil is running

It's can resolve (host, dig commands properly works) but can't ping

> I guess 192.168.100.1 is your GPON modem?

yes

```
$ ip -4 r l
default via 192.168.100.1 dev enp4s0 proto dhcp src 192.168.100.3 metric 202 
192.168.100.0/24 dev enp4s0 proto dhcp scope link src 192.168.100.3 metric 202 
$ ip -6 r l
200::/7 dev tun0 proto kernel metric 256 pref medium
fe80::/64 dev enp4s0 proto kernel metric 256 pref medium
fe80::/64 dev tun0 proto kernel metric 256 pref medium
default via fe80::1 dev enp4s0 proto ra metric 202 mtu 1472 pref medium
```

In `/etc/nsswitch.conf`, what does your `hosts` line look like?

```
$ rg hosts /etc/nsswitch.conf 
9:hosts: 		files mdns mdns4_minimal mdns4 myhostname dns
```

Try a much simpler `files myhostname dns` - if that works then perhaps try reintroducing `mdns`, `mdns4_minimal` and `mdns4` one by one to see which one causes the issue. You can also add `[NOTFOUND=continue]` after an entry there to make it try the next provider if it fails.

should i do anything after edit this file?

>Try a much simpler files myhostname dns - if that works

not works

after this nothing happens too
`hosts:          files [NOTFOUND=continue] mdns [NOTFOUND=continue] mdns4_minimal [NOTFOUND=continue] mdns4 [NOTFOUND=continue] myhostname [NOTFOUND=continue] dns [NOTFOUND=continue]`

ohyeah, I had something like that in one of my servers. it sees that there is 200::/8 IP address and then stuff which used to skip resolved IPv6 addresses, actually start using them, even though there is no route for them.
and it's not preferring IPv4 address.
so things which pick only first address hang.
and things which try all addresses one by one first need to time out..
my workaround was to add `ip -6 route add prohibit '2000::/3'` (which rejects global IPv6) to `/etc/rc.local`, so that when it for whatever stupid reason uses global IPv6 address it will get rejection and proceed with IPv4 address (hopefully).
maybe proper solution would be editing `/etc/gai.conf`, to specify that 200::/7 should be not preferred, idk.
only one of my systems, with old kernel was doing it, so I haven't bothered to seriously investigate it further.

adding it to /etc/gai.conf helps to me. But I think many guys will come across this
`precedence 200::/7  100`

Interesting. In general, imo yggdrasil addresses should have same preference as `fc00::/7` and move from `fd00::/8` to `200::/7` sorta has unintended effect there, to by default have same priority as global internet address. Unsure if it's good or bad.
@whoamin you sure it's `precedence 200::/7 100` and not `precedence ::ffff:0:0/96  100`? from my reading of [RFC 3484](https://tools.ietf.org/html/rfc3484#section-2.1), it seems that higer value wins, and atleast in my system 100 would be highest..

I double checked. Can't ping ipv4 global (like google.com) with
```
#precedence ::ffff:0:0/96  100
#precedence 200::/7      100
#precedence 200::/7     1
```
but can with
```
#precedence ::ffff:0:0/96  100
precedence 200::/7      100
#precedence 200::/7     1
```
and can with
```
#precedence ::ffff:0:0/96  100
#precedence 200::/7      100
precedence 200::/7     1
```

with
```
#precedence ::ffff:0:0/96  100
#precedence 200::/7      100
#precedence 200::/7     1

~ $ \ping google.com
PING google.com(li-in-x8b.1e100.net (2a00:1450:4010:c05::8b)) 56 data bytes
^C
--- google.com ping statistics ---
7 packets transmitted, 0 received, 100% packet loss, time 142ms
```
but I havn't ipv6 from my provider

with
```
#precedence ::ffff:0:0/96  100
precedence 200::/7      100
#precedence 200::/7     1

~ $ \ping google.com
PING google.com (64.233.162.138) 56(84) bytes of data.
64 bytes from li-in-f138.1e100.net (64.233.162.138): icmp_seq=1 ttl=45 time=20.8 ms
64 bytes from li-in-f138.1e100.net (64.233.162.138): icmp_seq=2 ttl=45 time=20.7 ms
^C
--- google.com ping statistics ---
2 packets transmitted, 2 received, 0% packet loss, time 2ms
rtt min/avg/max/mdev = 20.714/20.753/20.792/0.039 ms
```

could you post whole precedence list?

It's super default
```
# Configuration for getaddrinfo(3).
#
# So far only configuration for the destination address sorting is needed.
# RFC 3484 governs the sorting.  But the RFC also says that system
# administrators should be able to overwrite the defaults.  This can be
# achieved here.
#
# All lines have an initial identifier specifying the option followed by
# up to two values.  Information specified in this file replaces the
# default information.  Complete absence of data of one kind causes the
# appropriate default information to be used.  The supported commands include:
#
# reload  <yes|no>
#    If set to yes, each getaddrinfo(3) call will check whether this file
#    changed and if necessary reload.  This option should not really be
#    used.  There are possible runtime problems.  The default is no.
#
# label   <mask>   <value>
#    Add another rule to the RFC 3484 label table.  See section 2.1 in
#    RFC 3484.  The default is:
#
#label ::1/128       0
#label ::/0          1
#label 2002::/16     2
#label ::/96         3
#label ::ffff:0:0/96 4
#label fec0::/10     5
#label fc00::/7      6
#label 2001:0::/32   7
#
#    This default differs from the tables given in RFC 3484 by handling
#    (now obsolete) site-local IPv6 addresses and Unique Local Addresses.
#    The reason for this difference is that these addresses are never
#    NATed while IPv4 site-local addresses most probably are.  Given
#    the precedence of IPv6 over IPv4 (see below) on machines having only
#    site-local IPv4 and IPv6 addresses a lookup for a global address would
#    see the IPv6 be preferred.  The result is a long delay because the
#    site-local IPv6 addresses cannot be used while the IPv4 address is
#    (at least for the foreseeable future) NATed.  We also treat Teredo
#    tunnels special.
#
# precedence  <mask>   <value>
#    Add another rule to the RFC 3484 precedence table.  See section 2.1
#    and 10.3 in RFC 3484.  The default is:
#
#precedence  ::1/128       50
#precedence  ::/0          40
#precedence  2002::/16     30
#precedence ::/96          20
#precedence ::ffff:0:0/96  10
#
#    For sites which prefer IPv4 connections change the last line to
#
#precedence ::ffff:0:0/96  100

precedence 200::/7	100
#precedence 200::/7	1

#
# scopev4  <mask>  <value>
#    Add another rule to the RFC 6724 scope table for IPv4 addresses.
#    By default the scope IDs described in section 3.2 in RFC 6724 are
#    used.  Changing these defaults should hardly ever be necessary.
#    The defaults are equivalent to:
#
#scopev4 ::ffff:169.254.0.0/112  2
#scopev4 ::ffff:127.0.0.0/104    2
#scopev4 ::ffff:0.0.0.0/96       14

```

I have feeling that specifying precedence for `200::/7` could implicitly make sort of label for it, which would rule it out for connecting to internet hosts...... No idea if that's anywhere close to what happens.
I guess at this point you got it working fine tho, but knowing why exactly it works would be sorta useful I guess.
Could you try instead commenting out precedences and adding label for it instead?

also, uh, `Complete absence of data of one kind causes the appropriate default information to be used.`, would that mean that defaults aren't used if you specify only single precedence?

That could actually be making IPv6 address non-prefered and equal to IPv4 one, which would make your stuff work, but I guess that uncommenting all default entries would make things not work again... Because what matters there is remote address, not local.
I have too many questions for this and I guess I should test this myself.

maybe should document this in readme, `fc00::/7` has its own label so cjdns probably never hit this issue.
imo it could be relevant for both windows and linux, and idk maybe macosx too to have this properly specified, for sake of correctness.

I'm not english speaker. I need a time to understand what you wrote

this works for me:
```
$ grep -v \# /etc/gai.conf 
label 200::/7	10
```

uncomment other labels too

I don't think it's make sense, cause it's default, any way it's works too
```
$ grep -v \# /etc/gai.conf 
label ::1/128       0
label ::/0          1
label 2002::/16     2
label ::/96         3
label ::ffff:0:0/96 4
label fec0::/10     5
label fc00::/7      6
label 2001:0::/32   7
label 200::/7       10
```

>I don't think it's make sense, cause it's default

documentation specifies that default label list isn't included if atleast one label is manually declared.

Haven't seen this issue come up anywhere else, so closing for now. Please let me know if it reoccurs in a reproducible fashion elsewhere.

I have kind of the same issue here. I don't have a real IPv6 address on my home computer. After I launch ygg my OS starts to prefer IPv6 addresses of youtube, and it tries to route traffic through yggdrasil, instead of using IPv4. So, the regular Internet becomes unusable.

I guess it has something to do with the routing table? Before I launch ygg, my routing table looks like that:

    user@laptop:~$ ip -6 route
    local ::1 dev lo proto kernel metric 256 pref medium
    fe80::/64 dev wlan0 proto kernel metric 256 pref medium

after I launch ygg:

    user@laptop:~$ ip -6 route
    local ::1 dev lo proto kernel metric 256 pref medium
    200::/7 dev ygg0 proto kernel metric 256 pref medium
    fe80::/64 dev wlan0 proto kernel metric 256 pref medium
    fe80::/64 dev ygg0 proto kernel metric 256 pref medium

The youtube IPv6 address is 2a00:1450:400e:800::200e, so I guess it is routable via  200::/7 ? (I'm a total newbie in IPv6)

IMO gai.conf workaround looks like a hack, is there any better way to solve this problem?

>so I guess it is routable via 200::/7 ?

it's not.

What browser are you using? iirc any sane browser should use happy eyeballs to connect to both IPv4 and IPv6.
Or are you trying only with `ping`?

>What browser are you using? iirc any sane browser should use happy eyeballs to connect to both IPv4 and IPv6.
That system has a very complex setup. I could make it work with some hacks, but I'd like to understand why it behaves that way.

If the IPv6 address is not routable, why does it even try to send packets with IPv6 protocol, shouldn't OS just use IPv4 instead? Looking at the routing table above, I can't really understand why it's using yggdrasil interface to route regular packets.

Or is it the application level problem? The application (ping or chrome) decides to route packets via yggdrasil for some reason, even if it's not routable.

I think it's application level problem. When glibc sees IPv6 address it starts preferring returning IPv6 addresses first when resolving domain names. And some applications for some reason pick only first address returned.
I'm not really absolutely certain that this happens for this reason. But if editing `gai.conf` as described above fixes it then it probably is.

Note that packets aren't routed via yggdrasil, as kernel has no route for `2a00:1450:400e:800::200e` destination, they're just dropped probably.

In the absence of a default route, or a route that matches the destination, it is puzzling why it would try to use Yggdrasil even for happy eyeballs. Yggdrasil will drop the packets in that case.

OK, thanks, now it starts to make sense. IMO that gai.conf solution can be documented somewhere for the future references. FAQ maybe?

> Yggdrasil will drop the packets in that case.

Would it help if Yggdrasil rejected the packages and told connection refused? I am not sure what the official word is, but reject is what ufw uses for this while deny drops.

>Would it help if Yggdrasil rejected the packages and told connection refused? I am not sure what the official word is, but reject is what ufw uses for this while deny drops.

IMO generating ICMPv6 "no route to destination" ([IANA ref](https://www.iana.org/assignments/icmpv6-parameters/icmpv6-parameters.xml#icmpv6-parameters-codes-2)) would make sense in such case but I don't think that routing to yggdrasil tun device is what is happening there, as routing table isn't misconfigured.

Never mind, looks like that is my specific setup issue. Ygg works as expected.

Repeated on Alpine Linux Edge (musl), `/etc/gai.conf` not available in system. I created this file but it didn’t help

musl's dns resolver won't care about `/etc/gai.conf` either way

ping not available by host if yggdrasil is launched. I do not have an ipv6 address from the provider.

```
~ $ yggdrasil -version
Build name: yggdrasil
Build version: 0.3.14
~ $ cat /etc/resolv.conf
nameserver 8.8.8.8
~ $ host ya.ru
ya.ru has address 87.250.250.242
ya.ru has IPv6 address 2a02:6b8::2:242
ya.ru mail is handled by 10 mx.yandex.ru.
~ $ ping ya.ru
^C
ya.ru : xmt/rcv/%loss = 3/0/100%
~ $ ping 87.250.250.242
87.250.250.242 : [0], 84 bytes, 18.5 ms (18.5 avg, 0% loss)
87.250.250.242 : [1], 84 bytes, 18.1 ms (18.3 avg, 0% loss)
^C
87.250.250.242 : xmt/rcv/%loss = 2/2/0%, min/avg/max = 18.1/18.3/18.5
```

musl is stupid.
try `ip -6 r add unreachable ::/0 `

that won't help ping in particular, but most applications should be alright with that

```
~ $ doas ip -6 r add unreachable ::/0
RTNETLINK answers: File exists
~ $ ip -6 r
200::/7 dev ygg proto kernel metric 256 pref medium
fe80::/64 dev eth0 proto kernel metric 256 pref medium
fe80::/64 dev ygg proto kernel metric 256 pref medium
default via fe80::1 dev eth0 proto ra metric 1024 expires 1524sec mtu 1472 hoplimit 64 pref medium
```

huh but you have some default IPv6 route, wtf is that setup

_fe80::/64 link-local address prefix_
this is the address that I get from my router, this is local ip

```
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP group default qlen 1000
    link/ether d4:3d:7e:f5:98:ec brd ff:ff:ff:ff:ff:ff
    inet 192.168.100.3/24 scope global eth0
       valid_lft forever preferred_lft forever
    inet6 fe80::d63d:7eff:fef5:98ec/64 scope link 
       valid_lft forever preferred_lft forever_
```


I repeat, I do not have an ipv6 address from my Internet provider

`fe80::` addresses are not issued by the router, but are instead locally generated by your machine. However, the fact that you have a default route for `fe80::1` if you don’t have IPv6 connectivity is incorrect, which is what @cathugger is saying.

you do have very strange default route though.
and apparently that default route came from router advertisement (`proto ra`).
it looks like that route confuses libc.

libc probably looks at list of routes and IPv6 addresses and says "a-ha, non-link-local address - check, default route - check", and proceeds preferring IPv6 addresses in getaddrinfo

that's why I believe issue only happens when yggdrasil is started.
@whoizit can you do `sysctl net.ipv6.conf.eth0.accept_ra=0` and `ip -6 r del default`?
plz give us results of `ping`, `ip -6 r` and `sysctl -a 2>/dev/null | grep accept_ra`

I re-plug the cable to an old router that does not work with ipv6 at all
and I don't have default route and everything works

but in new router ipv6 feature is disabled, but ipv6 default route appears immediately after re-plug cable
![2020-05-23_00:55:22_1088x281_grim](https://user-images.githubusercontent.com/359276/82712178-251b6f00-9c90-11ea-91cb-e943f6441899.png)
![2020-05-23_00:54:51_1094x312_grim](https://user-images.githubusercontent.com/359276/82712186-277dc900-9c90-11ea-857f-5c96c2c55173.png)



maybe it's buggy and doesn't fully deactivate it or something.
either way do stuff I posted earlier and tell me results.
may also need `net.ipv6.conf.all.accept_ra=0` but im not completely sure about that.

double checked, works with `net.ipv6.conf.eth0.accept_ra=0`
thanks

if you still need it:
```
~ $ ping ya.ru
ya.ru : [0], 84 bytes, 18.5 ms (18.5 avg, 0% loss)
ya.ru : [1], 84 bytes, 17.3 ms (17.9 avg, 0% loss)
ya.ru : [2], 84 bytes, 17.9 ms (17.9 avg, 0% loss)
^C
ya.ru : xmt/rcv/%loss = 3/3/0%, min/avg/max = 17.3/17.9/18.5
~ $ ip -6 r
200::/7 dev ygg proto kernel metric 256 pref medium
fe80::/64 dev eth0 proto kernel metric 256 pref medium
fe80::/64 dev ygg proto kernel metric 256 pref medium
~ $ ping 300:aa35:f9c1:dcce::2
300:aa35:f9c1:dcce::2 : [0], 64 bytes, 278 ms (278 avg, 0% loss)
300:aa35:f9c1:dcce::2 : [1], 64 bytes, 79.5 ms (178 avg, 0% loss)
^C
300:aa35:f9c1:dcce::2 : xmt/rcv/%loss = 3/2/33%, min/avg/max = 79.5/178/278
~ $ sysctl -a 2>/dev/null | grep 'accept_ra '
net.ipv6.conf.all.accept_ra = 1
net.ipv6.conf.default.accept_ra = 1
net.ipv6.conf.eth0.accept_ra = 0
net.ipv6.conf.lo.accept_ra = 1
net.ipv6.conf.ygg.accept_ra = 1
```

Does this work in place of the precedence given in gai.conf? Someone suggested the following:

```
sysctl -w net.ipv6.conf.all.disable_ipv6=0
```

On clean Void glibc setup it works from scratch. 
it's have not modified (empty) `gai.conf`
it's have not modified (empty) `sysctl.conf`

it's `net.ipv6.conf.all.disable_ipv6 = 0` pre-established



suddenly repeated after reboot
yggdrasil 0.4.2, I haven't reinstalled the system, I've been using it for a long time. ArchLinux
just turned off ipv6 on my provider interface, and it works
`sudo sysctl -w net.ipv6.conf.enp4s0.disable_ipv6=1`
